.header {
  position: relative;
  justify-content: center;
  width: auto;
  min-width: auto;
  margin: 0px auto;
  height: 1080px;
  min-height: auto;
  border: red solid;
}

.background1 {
  position: absolute;
  top: 0;
  right: 0; 
  z-index: 1;
  filter: brightness(70%);
}

.abstract {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0.5;
  filter: brightness(70%);
}

.akash {
  position: absolute;
  right: 50rem;
  top: 37rem;
  width: 15rem;
  border: white solid;
  height: 15rem;
  z-index: 1;
}

.atom {
  position: absolute;
  z-index: 2;
  right: 9rem;
  top: 10rem;
  height: 20rem;
  width: 23rem;
}

.juno {
  width: 10rem;
  position: absolute;
  z-index: 3;
  right: 1rem;
  top: 10rem;
  height: 10rem;
}

.secret {
  width: 34rem;
  position: absolute;
  height: 29rem;
  top: 29rem;
  right: 2rem;
  z-index: 2;
}

.evmos {
  width: 31rem;
  position: absolute;
  top: 27rem;
  right: 28rem;
  z-index: 3;
  height: 32rem;
}
.omniflix {
  width: 36rem;
  position: absolute;
  z-index: 1;
  top: 40rem;
  right: 70rem;
  height: 36rem;
}
.sifchain {
  width: 36rem;
  position: absolute;
  height: 29rem;
  top: 5rem;
  right: 27rem;
  z-index: 1;
}
.osmosis {
  width: 39rem;
  position: absolute;
  top: 24rem;
  height: 37rem;
  right: 41rem;
  z-index: 2;
}

.yellow {
  width: 6rem;
  position: absolute;
  top: 10rem;
  height: 10rem;
  right: 4rem;
}
.red {
  width: 4.5rem;
  position: absolute;
  top: 24rem;
  height: 10rem;
  right: 1rem;
  z-index: 2;
}
.green {
  width: 6.5rem;
  position: absolute;
  top: 24rem;
  height: 10rem;
  right: 55rem;
}
.purple {
  width: 6.5rem;
  position: absolute;
  top: 44rem;
  height: 10rem;
  right: 26rem;
  z-index: 2;
}
.blue {
  width: 6.5rem;
  position: absolute;
  top: 3rem;
  right: 30rem;
  height: 10rem;
}
.orange {
  width: 6.5rem;
  position: absolute;
  top: 46rem;
  height: 10rem;
  right: 74rem;
  z-index: 1;
}

.description {
  display: inline-block;
  position: relative;
  margin-top: 13rem;
  margin-left: 5rem;
  z-index: 1;
}
.description .bar {
  margin-left: 0;
  width: 100px;
  height: 8px;
  border: none;
  background-color: #943afd;
  z-index: 1;
}
.description .greetings {
  font-family: "Segoe UI Light";
  color: white;
  font-size: 42px;
  line-break: strict;
  max-width: 50rem;
  z-index: 1;
}

.info-btn {
  font-family: "Segoe UI Light";
  color: white;
  font-size: 35px;
  width: 16rem;
  height: 5rem;
  text-align: center;
  background-color: #6d7ebe;
  border-radius: 10px;
  z-index: 1;
  display: none;
}

@media only screen and (min-width: 360px) and (max-width: 1920px) {
  .background1 {
    width: 100vw;
    height: calc(100vw / 1920 * 2000);
  }

  .header {
    height: calc(100vw * 1080 / 1920);
  }
  .akash {
    width: calc(100vw * 496 / 1920);
    right: calc(100vw * 880 / 1920);
    top: calc(100vw * 592 / 1920);
    height: calc(100vw * 512 / 1920);
  }

  .atom {
    width: calc(100vw * 720 / 1920);
    right: calc(100vw * 144 / 1920);
    top: calc(100vw * 160 / 1920);
    height: calc(100vw * 640 / 1920);
  }

  .juno {
    width: calc(100vw * 592 / 1920);
    right: calc(100vw * 16 / 1920);
    top: calc(100vw * 16 / 1920);
    height: calc(100vw * 512 / 1920);
  }

  .secret {
    width: calc(100vw * 544 / 1920);
    height: calc(100vw * 464 / 1920);
    top: calc(100vw * 464 / 1920);
    right: calc(100vw * 32 / 1920);
  }

  .evmos {
    width: calc(100vw * 496 / 1920);
    top: calc(100vw * 432 / 1920);
    right: calc(100vw * 448 / 1920);
    height: calc(100vw * 512 / 1920);
  }
  .omniflix {
    width: calc(100vw * 576 / 1920);
    top: calc(100vw * 640 / 1920);
    right: calc(100vw * 1120 / 1920);
    height: calc(100vw * 576 / 1920);
  }
  .sifchain {
    width: calc(100vw * 576 / 1920);
    height: calc(100vw * 464 / 1920);
    top: calc(100vw * 80 / 1920);
    right: calc(100vw * 432 / 1920);
  }
  .osmosis {
    width: calc(100vw * 624 / 1920);
    top: calc(100vw * 384 / 1920);
    height: calc(100vw * 592 / 1920);
    right: calc(100vw * 656 / 1920);
  }

  .yellow {
    width: calc(100vw * 96 / 1920);
    top: calc(100vw * 160 / 1920);
    height: calc(100vw * 160 / 1920);
    right: calc(100vw * 64 / 1920);
  }
  .red {
    width: calc(100vw * 72 / 1920);
    top: calc(100vw * 384 / 1920);
    height: calc(100vw * 160 / 1920);
    right: calc(100vw * 16 / 1920);
  }
  .green {
    width: calc(100vw * 104 / 1920);
    top: calc(100vw * 384 / 1920);
    height: calc(100vw * 160 / 1920);
    right: calc(100vw * 880 / 1920);
  }
  .purple {
    width: calc(100vw * 104 / 1920);
    top: calc(100vw * 704 / 1920);
    height: calc(100vw * 160 / 1920);
    right: calc(100vw * 416 / 1920);
  }
  .blue {
    width: calc(100vw * 104 / 1920);
    top: calc(100vw * 48 / 1920);
    right: calc(100vw * 480 / 1920);
    height: calc(100vw * 160 / 1920);
  }
  .orange {
    width: calc(100vw * 104 / 1920);
    top: calc(100vw * 736 / 1920);
    height: calc(100vw * 160 / 1920);
    right: calc(100vw * 1184 / 1920);
  }
  .description {
    margin-top: calc(100vw * 208 / 1920);
    margin-left: calc(100vw * 80 / 1920);
  }

  .info-btn {
    font-size: calc(100vw * 35 / 1920);
    width: calc(100vw * 256 / 1920);
    height: calc(100vw * 80 / 1920);
    border-radius: calc(100vw * 10 / 1920);
  }

  .description .bar {
    height: calc(100vw * 8 / 1920);
    width: calc(100vw * 100 / 1920);
  }

  .description .greetings {
    font-size: calc(100vw * 42 / 1920);
    max-width: calc(100vw * 800 / 1920);
  }
}
