.header {
  position: relative;
  justify-content: center;
  width: auto;
  height: 67.5rem;
  min-height: auto;
  border-bottom: 3px solid black;
}

.background1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  filter: brightness(70%);
}

.background2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: brightness(70%);
}
