.hero {
  position: relative;
}

.description {
  position: absolute;
  top: 15rem;  
  padding: 2rem;
  color: white;
  font-size: 3rem;
}

.dig {
  position: absolute;
  z-index: 2;
  right: 9rem;
  top: 10rem;
  height: 40rem;
}

.desmos {
  position: absolute;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  height: 32rem;
}

.atom {
  position: absolute;
  height: 29rem;
  top: 29rem;
  right: 2rem;
  z-index: 2;
}

.emoney {
  position: absolute;
  top: 27rem;
  right:28rem;
  z-index: 3;
}
.lum {
  position: absolute;
  z-index: 1;
  top:38rem;
  right: 68rem;
}
.juno {
  position: absolute;
  height: 29rem;
  top: 5rem;
  right: 27rem;
  z-index: 1;
}
.akash {
  position: absolute;
  top: 24rem;
  height: 37rem;
  right: 41rem;
  z-index: 2;

}

.yellow {
  position: absolute;
  top: 10rem;
  height: 10rem;
  right: 4rem;
}
.red {
  position: absolute;
  top: 24rem;
  height: 10rem;
  right: 10rem;
  z-index: 2;
}
.green {
  position: absolute;
  top: 24rem;
  height: 10rem;
  right: 55rem;
}
.purple {
  position: absolute;
  top: 44rem;
  height: 10rem;
  right: 26rem;
  z-index: 2;
}
.blue {
  position: absolute;
  top: 3rem;
  right: 30rem;
  height: 10rem;
}
.orange {
  position: absolute;
  top: 46rem;
  height: 10rem;
  right: 73rem;
  z-index: 1;
}


