.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  margin: auto;
  padding: 1rem 4.8rem;
  background-color: transparent;
  z-index: 2;
}

.main-nav-list {
  position: relative;
  list-style: none;
  font-family: "Segoe UI Light";
  display: flex;
  align-items: center;
  gap: 3rem;
  width: auto;
  font-size: 1.8rem;
  background-color: transparent;
  margin: auto;
  z-index: 2;
}

.main-nav-list li {
  padding: 15px;
}


.main-nav-list li a:hover {
  color: #dfc3ff;
  font-weight:bolder;
  cursor: pointer;
  transition: 0.3s;
}

.main-nav-list li a {
  text-decoration: none;
  color: white;
}
