.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid; */
  height: 6rem;
  padding: 0 4.8rem;
  background-color: transparent;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  background-color: transparent;

}

.main-nav-list li {
  background-color: transparent;
  filter: contrast(50%);
}


.logo img {
  height: 4rem;
  background:none;
  background-color: transparent;
  filter: brightness(100%);
}