.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  margin: auto;
  padding: 1rem 4.8rem;
  background-color: transparent;
  z-index: 2;
}

.main-nav-list {
  position: relative;
  list-style: none;
  font-family: "Segoe UI Light";
  display: flex;
  align-items: center;
  gap: 5rem;
  color: white;
  font-size:1.8rem;
  background-color: transparent;
  z-index: 2;
}

.main-nav-list li:hover {
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.main-nav-list li a {
  text-decoration: none;
  color: white;
}