.project {
  /* position: relative; */
  margin-top: -35rem;
  height: auto;
  width: auto;
  /* border: 1px solid black; */
}
.project .title {
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
}

.project .title .bar {
  width: 100px;
  height: 8px;
  border: none;
  background-color: #FF4040;
}

.project .title .name {
  margin-top: 20px;
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}