.project-item {
  height: 30rem;
  width: 50%;
  margin: auto;
  flex: 40%;
  display: flex;
  /* margin: 3rem auto; */
  justify-content: center;
  /* align-items: center; */
}

.user-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-item__info {
  margin-top: 0.5rem;
  align-items: center;
}

.user-item__info h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.project-img {
  width: 17rem;
  height: 17rem;
  margin: 30px;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
  .project-img {
    max-width: calc(100vw / 1920 * (17 * 16));
    max-height: calc(100vw / 1920 * (17 * 16));
  }
  .project-item {
    flex: 10%;
    height: 10rem;
    gap: 1rem;
  }
  .user-item__info h2 {
    font-size: calc(100vw * 60 / 1920);
  }
}