.project-item {
  height: 30rem;
  width: 50%;
  margin: auto;
  flex: 40%;
  display: flex;
  margin: 3rem auto;
  justify-content: center;
}

.user-item__info {
  margin-top: 1rem;
  align-items: center;
}

.user-item__info h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.project-img {
  max-width: 17rem;
  max-height: 17rem ;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
  .project-img {
    width: 8rem;
    height: 8rem ;
  }
  .project-item {
    flex: 10%;
    height: 10rem;
    gap: 1rem;
  }
  .user-item__info h2 {
    font-size: 1rem;
  }
}