@-webkit-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.dropdown-btn {
  display: flex;
  flex-direction: row;
}

a:focus:after {
  width: 100px;
}

.dropdown-btn:after {
  content: "";
  background: white;
  position: absolute;
  bottom: 5px;
  left: 15px;
  height: 3px;
  width: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
}

li a {
  color: #fbfbfb;
  display: block;
  padding: 10px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.dropdown-container:focus:after,
.dropdown-container:focus-within:after,
.dropdown-container:hover:after {
  background: linear-gradient(90deg,
      #ff8038 0%,
      #ff0099 33.33%,
      #0047eb 66.67%,
      #db00ff 100%);
  background-size: 600% 600%;
  box-shadow: 4px 8px 30px 5px rgb(255, 255, 255, 0.2);
  -webkit-animation: AnimateBorder 8s ease infinite;
  -moz-animation: AnimateBorder 8s ease infinite;
  animation: AnimateBorder 8s ease infinite;
  transition: filter 1s ease-in;
  max-width: 2000px;
  border-radius: 10px;
}

li:focus .sub-menu,
li:focus-within .sub-menu {
  max-height: 500px;
}

li:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 0;
  overflow: hidden;
}

.dropdown-chain-icon {
  max-height: 3rem;
  max-width: 3rem;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
  margin-bottom: 10px;
}

.dropdown-chain-name {
  color: #fbfbfb;
  align-self: center;
  font-family: "SegoeUI-Light";
  font-size: 25px;
  margin: 10px;
  z-index: 1;
}

.dropdown-icon {
  height: 10px;
  margin-left: auto;
  margin-right: 20px;
  z-index: 1;
  align-self: center;
}

.dropdown-icon img {
  height: 10px;
  margin-top: -16px;
}

ol .sub-menu {
  border-left: 1px solid #fbfbfb;
  margin-left: 22.5px;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  padding-left: 7.5px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}

ol .sub-menu li {
  margin-bottom: 5px;
  font-family: "SegoeUI-Light";
  font-size: 20px;
  color: white;
}

ol .sub-menu li:hover,
ol .sub-menu li .menu-item-text:focus {
  background: rgba(60, 60, 60, 0.2);
}

ol .sub-menu li .menu-item-text:after {
  bottom: 5px;
  height: 1px;
  transition: 0.5s;
  transition-delay: 0.2s;
  background: white;
  position: absolute;
  left: 15px;
  content: "";
  width: 0;
}

ol .sub-menu li .menu-item-text:hover:after,
ol .sub-menu li .menu-item-text:focus:after {
  width: 15px;
}