.contributions {
  position: relative;
  height: 1500px;
  width: auto;
  /* margin-top: 0; */
}
.contributions .title {
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 10rem;
  width: 100%;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
}

.contributions .title .bar {
  width: 100px;
  border: 3px solid #3a71fd;
}

.contributions .title .name {
  margin-top: 20px;
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}

.contributions .title .text {
  font-family: "Segoe UI Light";
  font-size: 20px;
  color: white;
  width: 70%;
  margin: 1rem auto;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.background {
  position: absolute;
  top: -6rem;
  height: 1650px;
  width: 100%;
  background-image: url(../../media/Group18.png);
  z-index: 2;
  margin-top: 0px;
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.ecosystem {
  position: absolute;
  top: 32rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2vh);
  gap: 10px;
  align-content: center;
  justify-content: center;
  /* border: 7px solid black; */
  height: 8rem;
  grid-auto-flow: column;
}

.companyinfo {
  position: absolute;
  top: 45rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5 2vh);
  gap: 20px;
  row-gap: 2rem;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  
}

.companyinfo-item {
  /* border: 1px solid black; */
  border-radius: 30px;
  background-color: #ffffff33;
  height: 250px;
  width: 450px;
  box-shadow: 1px 4px 1px 5px rgb(41, 38, 38);
}

.companyinfo-item__1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  color: white;
}
.companyinfo-item__2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  color: white;
}
.companyinfo-item__3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  color: white;
}
.companyinfo-item__4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  justify-self: center;
  align-self: center;
  color: white;
}
.companyinfo-item__5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  justify-self: center;
  align-self: center;
  color: white;
}
