@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-2144px - 80px * 12));
  }
}

.slider {
  margin: 40rem auto;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(- (2144px + 80px * 12) * 3);
}
.slider .slide {
  padding-left: 80px;
  padding-right: 80px;
  align-self: center;
}
