@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-2504px));
 }
}

.slider {
  margin: 40rem auto;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: 7512px;
}
.slider .slide {
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
}