.infra-section {
    height: auto;
    width: auto;
    /* background-image: url(../../media/background-decor/group19.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
  }
  .infra-section .title {
    text-align: center;
    width: 100%;
    height: 25rem;
    align-items: center;
    margin-top: 5rem;
  }
  
  .infra-section .title .bar {
    width: 100px;
    height: 8px;
    border: none;
    background-color: #3a71fd;
  }
  
  .infra-section .title .name {
    /* margin-top: 20px; */
    font-family: "Segoe UI Light";
    font-size: 60px;
    color: white;
  }
  
  .infra-section .title .text {
    font-family: "Segoe UI Light";
    font-size: 22px;
    color: white;
    width: 60%;
    margin: 1rem auto;
    align-items: center;
    text-align: center;
  }
  
  .infra {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
  }