.chain-upgrades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chain-upgrade-table {
  color: white;
  border: 1px solid white;
  width: 80rem;
  height: auto;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}



.chain-upgrades-title th {
  padding: 1em;
  backdrop-filter: blur(10px);
  height: 70px;
  font-family: "Segoe Ui Bold";
  background: rgba(82, 82, 82, 0.6);
}