.chain-upgrades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chain-upgrade-table {
  color: white;
  backdrop-filter: blur(20px);
  width: 80rem;
  height: auto;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.chain-upgrades-title th {
  padding: 1em;
  height: 70px;
  font-family: "SegoeUI-Bold";
  font-weight: 500;
  font-size: 15px;
  background: rgba(82, 82, 82, 0.6);
}

@media only screen and (min-width: 360px) and (max-width: 1027px) {
  /* .chain-upgrade-table {
    width: calc(100vw / 1920 * 80);
  } */
  .chain-upgrades-title th {
    font-size: calc(100vw * 30 / 1920);
  }
}