.endpoint-section {
  background-image: url("../../../media/imgs/Infrastructure/Endpoints/BackgroundEndpoint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  color: white;
  justify-content: center;
}

.endpoint-container {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.endpoint-title {
  margin-top: 150px;
  font-family: "Segoe UI Semibold";
  font-size: 60px;
  margin-bottom: 10px;
}

.endpoint-text {
  font-family: "Segoe UI Light";
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 360px) and (max-width: 1920px) {
  .endpoint-title {
      font-size: calc(100vw * 60 / 1920);
  }
  .endpoint-text {
      font-size: calc(100vw * 30 / 1920);
  }
}