.rpc-section {
    background-image: url("../../../media/background-decor/BackgroundRPC.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: darken; */
    height:auto;
    color: white;
    justify-content: center;
}

.rpc-container {
    width: 80%;
    margin: 0 auto;
}