.snapshot-section {
  background-image: url("../../../media/background-decor/BackgroundRPC.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  color: white;
  justify-content: center;
}

.test {
  font-size: 3rem;
}

.text {
  font-size: 2rem;
}

.snapshot-container {
  width: 1523.98px;
  margin: 0 auto;
}

.snapshot-instruction {
  margin-top: 2rem;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1rem;
  padding: 1rem;
}

@media only screen and (min-width: 360px) and (max-width: 1920px) {
  .snapshot-container {
    width: calc(100vw * 1523.98 / 1980);
  }
  .test {
    font-size: calc(100vw * 45 / 1920);
  }
  .snapshot-instruction {
    font-size: calc(100vw * 30 / 1920);
  }
}
