.snapshot-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../../../media/background-decor/BG1-01\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    color: white;
    justify-content: center;
}

.test {
    font-size:3rem;
}

.text {
    font-size: 2rem;
}

.snapshot-container {
    width: 80%;
    margin: 0 auto;
}

.snapshot-instruction {
    margin-top: 2rem;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 1rem;
    padding: 1rem;
}

