.errormodal {
  z-index: 11;
  width: 60rem;
  height: auto;
  /* background-color: #222020;
    border-radius: 20px; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  padding: 5rem 3rem;
  text-align: center;
}

.errormodal h1 {
  font-family: "Segoe UI Light";
  font-size: 35px;
  color: white;
}

.errormodal p {
  font-family: "Segoe UI Light";
  font-size: 15px;
  width: 25rem;
  margin: 0 auto;
  color: #a1a1a1;
}

.errormodal label {
  font-size: 200px;
  line-height: 50%;
  margin-bottom: 0;
  font-family: "Segoe UI Semibold";
}

/* .error-btn {
      background-color: #4c62ba;
      position: fixed;
      bottom: 0;
      right: 0;
  } */
