.calculate {
  background: rgba(63, 63, 63, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.39);
  box-sizing: border-box;
  border-radius: 23px;
}

.calculate .info {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.calculate .info .label {
  font-family: "Segoe UI Light";
  font-size: 20px;
}

.calculate .info .value {
  font-family: "Segoe UI Semibold";
  font-size: 55px;
}

.slider-caculate {
  margin-top: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

div.ant-slider.slider.ant-slider-horizontal {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.ant-slider-rail {
  background: rgba(196, 196, 196, 0.5);
  box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 10px;
}

div.ant-slider-track {
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
}

div.ant-slider-handle {
  color: white;
  height: 20px;
  margin-top: 0px;
  width: 20px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.8);
  border: none;
}

.reward-table {
  margin-top: 30px;
  margin-bottom: 2rem;
  width: 85%;
  text-align: center;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.reward-divisor {
  width: 620px;
}

.reward-table .name {
  min-width: 70px;
  max-width: 70px;
  font-family: "Segoe UI Light";
  font-size: 20px;
  text-align: left;
}

.reward-table .token {
  font-family: "Segoe UI Light";
  min-width: 70px;
  max-width: 70px;
  font-size: 20px;
  text-align: right;
}

.reward-table .usd {
  font-family: "Segoe UI Light";
  font-size: 20px;
  text-align: right;
}
@media only screen and (min-width:360px) and (max-width: 1920px){
  .calculate {
    border-radius: calc(100vw / 1920 * 23);
    width:  auto;
  }

  .calculate .info {
    margin-top: calc(100vw / 1920 * 32);
  }

  .calculate .info .label {
    font-size: calc(100vw / 1920 * 30);
  }
  
  .calculate .info .value {
    font-size: calc(100vw / 1920 * 65);
  }

  .slider-caculate {
    margin-top: calc(100vw / 1920 * 35);
  }

  div.ant-slider-rail {
    border-radius: calc(100vw / 1920 * 5);
    height: calc(100vw / 1920 * 10);
  }
  
  div.ant-slider-track {
    height: calc(100vw / 1920 * 10);
    border-radius: calc(100vw / 1920 * 5);
  }
  
  div.ant-slider-handle {
    height: calc(100vw / 1920 * 20);
    width: calc(100vw / 1920 * 20);
  }

  .reward-table {
    margin-bottom: calc(100vw / 1920 * 32);
    margin-top: calc(100vw / 1920 * 30);
    line-height: calc(100vw / 1920 * 30);
  }
  
  .reward-divisor {
    width: calc(100vw / 1920 * 1100);
  }
  
  .reward-table .name {
    min-width: calc(100vw / 1920 * 70);
    max-width: calc(100vw / 1920 * 70);
    font-size: calc(100vw / 1920 * 30);
  }
  
  .reward-table .token {
    min-width: calc(100vw / 1920 * 70);
    max-width: calc(100vw / 1920 * 70);
    font-size: calc(100vw / 1920 * 30);
  }
  
  .reward-table .usd {
    font-size: calc(100vw / 1920 * 30);
  }
}