.block {
    width: 4rem;
    height: 4rem;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
    .block {
        width: calc(100vw / 1920 * 64);
        height: calc(100vw / 1920 * 64);
    }
  }