.row {
    display: flex;
    margin-top: -20px;
    margin-bottom: -38px;
}

.col {
    margin-right: -25px;
    margin-left: -10px;
}

.uptime-header {
    font-family: "Segoe UI Light";
    font-size: 30px;
    height: 3.5rem;
}

.label {
    font-family: 'Segoe UI Light';
    font-weight: 300;
    font-size: 15px;
    height: 2rem;
    margin-top: -10px;
}
.uptime {
    text-align: right;
    align-items: right;
    
}