.stake-item {
  height: 22rem;
  width: 17rem;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  list-style: none;
  transition: transform 0.4s;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.stake-item:hover {
  background-color: rgba(211, 211, 211, 0.3);
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -2px rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(22px);
}

.stake-item__info h2 {
  font-family: "Segoe UI Semibold";
  color: white;
  margin-top: 15px;
  font-size: 35px;
  align-items: center;
}

.stake-btn {
  margin-top: 1.5rem;
  width: 10rem;
  height: 3rem;
  background-color: #ffff;
  color: black;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
}

.stake-btn:hover {
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4);
}

.stake-item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.stake-item__image__detail {
  max-width: 7rem;
  max-height: 7rem;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
  .stake-item{
    height: 10rem;
    width: 7rem;
  }
  .stake-item__image__detail {
    margin-top: 2rem;
    max-height: 3rem;
    max-width: 3rem;
  }

  .stake-item__info h2 {
    font-size: 10px;
    margin-top: 22px;
  }
  .stake-btn {
    width: 4rem;
    height: 2rem;
    font-size: 10px;
  }
  .stake-item__image{
    height: 3rem;
  }
}