.stake-list {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
  .stake-list {
    gap: 1rem;
  }
}
