.calculate {
  background: rgba(63, 63, 63, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.39);
  box-sizing: border-box;
  border-radius: 23px;
  height: 400px;
  margin-top: -80px;
}

.calculate .info {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.label {
  font-family: "Segoe UI Light";
  font-size: 20px;
}

.value {
  font-family: "Segoe UI Semibold";
  font-size: 55px;
  line-height: 60px;
  color: white;
}

.slider-caculate {
  margin-top: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

div.ant-slider.slider.ant-slider-horizontal {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.ant-slider-rail {
  background: rgba(196, 196, 196, 0.5);
  box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 10px;
}

div.ant-slider-track {
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
}

div.ant-slider-handle {
  color: white;
  height: 20px;
  margin-top: 0px;
  width: 20px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.8);
  border: none;
}

.reward-table {
  margin-top: 30px;
  width: 85%;
  text-align: center;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.reward-divisor {
  width: 620px;
}

.reward-table .name {
  min-width: 70px;
  max-width: 70px;
  font-family: "Segoe UI Light";
  font-size: 20px;
  text-align: left;
}

.reward-table .token {
  font-family: "Segoe UI Light";
  min-width: 70px;
  max-width: 70px;
  font-size: 20px;
  text-align: right;
}

.reward-table .usd {
  font-family: "Segoe UI Light";
  font-size: 20px;
  text-align: right;
}
