.stake-section {
  height: auto;
  width: auto;
  background-image: url(../../media/imgs/Stake/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stake-section .title {
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 25rem;
  align-items: center;
}

.stake-section .title .bar {
  width: 100px;
  z-index: inherit;
  height: 8px;
  border: none;
  background-color: #3a71fd;
}

.stake-section .title .name {
  /* margin-top: 20px; */
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
  z-index: inherit;
}

.stake-section .title .text {
  font-family: "Segoe UI Light";
  font-size: 22px;
  color: white;
  width: 60%;
  z-index: inherit; 
  margin: auto;
  align-items: center;
  text-align: center;
}

.stake {
  z-index: 1;
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}


@media only screen and (min-width: 360px) and (max-width: 1920px) {
  .stake-section .title {
    height: auto;
  }
  .stake-section .title .bar {
    height: calc(100vw * 8 / 1920);
    width: calc(100vw * 100 / 1920);
  }
  
  .stake-section .title .name {
    font-size: calc(100vw * 60 / 1920);
  }
  .stake-section .title .text { 
    display: block;
    font-size: calc(100vw * 20*1.5 / 1920);
  }
  .stake {
    max-width: 60rem;
    margin-top: calc(100vw * 100 / 1920);
  }
}