.stake-section {
  height: 140rem;
  width: auto;
  background-image: url(../../media/background-decor/group19.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center -150px;
}
.stake-section .title {
  text-align: center;
  width: 100%;
  height: 25rem;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
}

.stake-section .title .bar {
  width: 100px;
  height: 8px;
  border: none;
  background-color: #3a71fd;
}

.stake-section .title .name {
  margin-top: 20px;
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}

.stake-section .title .text {
  font-family: "Segoe UI Light";
  font-size: 20px;
  color: white;
  width: 60%;
  margin: 1rem auto;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.stake {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
}