.modal {
    z-index: 11;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: white;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    height: 70vh;
    border-radius: 8px;
  }

  .modal-image {
    z-index: 100;
    position: fixed;
    height: 7rem;
    width: 7rem;
  }