.modal {
  z-index: 11;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.39);
  padding: 5rem 3rem;
  display: flex;
  gap: 5rem;
}

.modal-image {
  display: block;
  height: 7rem;
  width: 7rem;
}

.chain-section {
  background: rgba(63, 63, 63, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.39);
  box-sizing: border-box;
  border-radius: 23px;
  display: flex;
  width: 30rem;
  height: 15rem;
}

.chain-info__image {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.modal .uptime-section {
  margin-right: 0%;
}

.chain-info__image div {
  font-weight: 500;
  font-size: 25px;
}

.chain-info__text {
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
}

.validator-section {
  margin-top: 5rem;
  line-height: 30px;
  font-size: 25px;
  font-weight: 400;
}

.profit-section {
  margin-top: 5rem;
}
