.scroll-btn {
    background-color: 23283e;

}

.button-img { 
    width: 60px;
    height: 60px;
    padding: 5px;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
}

.button-img:hover {
    cursor: pointer;
}