.scroll-btn {
    background-color: 23283e;

}

.button-img { 
    width: 60px;
    height: 60px;
    padding: 5px;
    position: fixed;
    right: 1.5rem;
    bottom: 8rem;
}

.button-img:hover {
    cursor: pointer;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
    .scroll-btn {
        display: none;
    }
}