.chain-upgrades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chain-upgrade-table {
  color: white;
  border: 1px solid white;
  width: 80rem;
  height: 200px;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}



.chain-upgrades-title th {
  padding: 1em;
background: rgba(82, 82, 82, 0.8);
}