.infra-section {
    height: auto;
    width: auto;
    background-image: url(../../../media/background-decor/infrastructe-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
  }

.infra-section .title {
  text-align: center;
  width: 100%;
  height: 25rem;
  align-items: center;
  margin-top: 5rem;
}

.infra-section .title .bar {
  width: 100px;
  height: 8px;
  border: none;
  background-color: #3a71fd;
}

.infra-section .title .name {
  /* margin-top: 20px; */
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}

.infra-section .title .text {
  font-family: "Segoe UI Light";
  font-size: 22px;
  width: 60%;
  margin: 1rem auto;
  align-items: center;
  text-align: center;
  color: white;
}

.infra-section .relayer {
  height: auto;
  width: 80%;
  max-width: 1920px;
  margin: auto;
  position: relative;
  display: flex;
}

.infra-section .relayer .relayer-info .relayer-title {
  font-family: "Segoe UI Light";
  color: white;
  font-size: 40px;
}

.infra-section .relayer .relayer-info .relayer-text {
  font-family: "Segoe UI Light";
  color: white;
  font-size: 20px;
}

.infra-section .relayer .relayer-info {
  text-align: center;
  width: 40%;
  height: auto;
  align-items: center;
}

.infra-section .relayer .relayer-graph {
  z-index: 100;
}

.infra-section .services {
  height: auto;
  width: auto;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.infra-section .services .service-item{
  /* width: 90%; */
  height: 15rem;
  width: 25rem;
}

.link{
  color: black;
}

.link:hover {
  color: bisque;
}
.service-item {
  border-radius: 30px;
  background-color: rgba(162, 157, 157, 0.8);
  height: 250px;
  width: 450px;
  /* backdrop-filter: blur(5px); */
  box-shadow: 4px 8px 30px 2px rgb(255, 255, 255, 0.15);
  cursor: pointer;
  line-height: 2rem;
}

.service-item img:hover {
  transform: translateY(-10px);
  transition: 0.2s ease;
}

