.snapshot-list-container {
  margin-top: 2rem;
}

.snapshot-list {
  width: auto;
  height: auto;
  z-index: inherit;
  display: flex;
  justify-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 0;
  margin: 0 auto;
}

.paginationBttns {
  width: auto;
  height: 80px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  outline: none;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.paginationBttns li {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.pageBttn {
  border-radius: 5px;
  width: 50px;
  background: #0c0232;
  box-shadow: 6px 6px 12px #060118, -6px -6px 12px #12034d;
  color: white;
  cursor: pointer;
  flex-shrink: 2;
  font-size: 15px;
}

.pageBttn:hover {
  color: white;
  box-shadow: inset 6px 6px 12px #060118, inset -6px -6px 12px #12034d;
  transition: filter 1s ease-in;
}

.previousBttn {
  width: 120px;
  border-radius: 5px;
  background: #0c0232;
  box-shadow: 6px 6px 12px #060118, -6px -6px 12px #12034d;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.previousBttn:after {
  display: none;
}

.nextBttn {
  width: 120px;
  border-radius: 5px;
  background: #0c0232;
  box-shadow: 6px 6px 12px #060118, -6px -6px 12px #12034d;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.nextBttn:after {
  display: none;
}

.paginationActive {
  color: white;
  box-shadow: inset 6px 6px 12px #060118, inset -6px -6px 12px #12034d;
}

.paginationActive a:after {
  display: none;
}

.paginationDisabled {
  color: white;
  width: 120px;
  background-color: red;
  box-shadow: inset 6px 6px 12px #060118, inset -6px -6px 12px #12034d;
}

@media only screen and (min-width: 360px) and (max-width: 1920px) {
}
