@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.snapshot-modal {
  z-index: 11;
  height: 50%;
  width: 80%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  color: white;

  animation: fadeIn 1s;
}

.modal-top {
  border-bottom: 1px white solid;
  height: 12%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal-top img {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
}

.modal-top p {
  font-family: "SegoeUI-Light";
  font-size: 35px;
  margin: 0;
  margin-left: 8px;
  margin-right: auto;
}

.modal-bottom {
  display: flex;
  flex-direction: row;
}

.modal-left {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 18%;
  max-width: 300px;
  border-right: 1px solid white;
  align-items: center;
}

.modal-navbar {
  line-height: 3rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.modal-navbar .modal-item {
  margin: 10px 0px;
  list-style: none;
  font-family: "SegoeUI-Light";
  font-size: 30px;
  display: block;
  height: 100px;
}

.modal-navbar .modal-item:hover {
  background: rgba(60, 60, 60, 0.2);
  border-radius: 15px;
}

.modal-navbar .modal-item {
  display: flex;  
  align-items: center;
}

.modal-navbar .modal-item .modal-navbar-option {
  padding-left: 15px;
  color: white;
}

.modal-navbar .modal-item .modal-navbar-option:hover {
  color: #40a9ff;
}

.modal-navbar .modal-item .modal-navbar-option:focus, 
.modal-navbar .modal-item .modal-navbar-option-focus {
  background: rgba(163, 163, 163, 0.2);
  border-radius: 15px;
  color: white;    
  display: flex;  
  align-items: center;
  padding-left: 15px;
  height: 100%;
  width: 100%;
  font-family: "SegoeUI-Semibold";
}

.modal-navbar .modal-item .modal-navbar-option-focus:after {
  display: none;
}

.modal-navbar-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 10rem;
  margin: 0 auto;
}

.modal-right {
  padding: 2rem;
  width: 80%;
  color: rgb(255, 255, 255);
}

.modal-right .h1 {
  color: white;
  font-family: "SegoeUI-Bold";
  font-size: 40px;
  line-height: 2rem;
}

.modal-right .h2 {
  font-family: "SegoeUI-Semibold";
  color: white;
  font-size: 25px;
}

.modal-right .p-content {
  font-family: "SegoeUI-Light";
  color: white;
  font-size: 20px;
}

.modal-right .code {
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  padding: 8px;
  white-space: nowrap;
  border: 1px white solid;
  overflow-x: scroll;
  background-color: #52525250;
}

.download-btn {
  border-radius: 5px;
  border: none;
  display: flex;
  position: relative;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
}

.download-btn::after {
  content: " ";
  width: 0%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: #1890ff;
  transition: all 0.4s ease-in-out;
}

.download-btn .download-btn-text {
  padding: 15px 30px;
  font-family: "SegoeUI-Light";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  margin: 0;
  color: #1890ff;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.download-btn:hover {
  box-shadow: #1890ff 0px 7px 29px 0px;
}

.download-btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.download-btn:hover .download-btn-text {
  animation: scaleUp 0.3s ease-in-out;
  font-family: "SegoeUI-Bold";
  color: white;
}

.download-btn:active {
  transform: translateY(3px);
  transition: all 0.3s;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
