.member {
    width: 500px;
}

.member-img {
    width: 500px;
    border-radius: 20px;
}

.member-name {
    color: #C18CFF;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    text-align: left;
}

.member-position {
    color: #C18CFF;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.member-description {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

@media only screen and (min-width: 360px) and (max-width: 1920px) {
    .member {
        max-width: calc(100vw / 1920 * 600);
    }
    .member-img {
        max-width: calc(100vw / 1920 * 600);
        border-radius: 10;
    }
    .member-name {
        font-size: calc(100vw * 34 / 1920);

    }
    .member-position{
        font-size: calc(100vw * 34 / 1920);

    }
    .member-description{
        font-size: calc(100vw * 24 / 1920);

    }
}