.team {
  height: 80rem;
}
.team .title {
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
}

.team .title .bar {
  width: 100px;
  height: 8px;
  border: none;
  background-color: #f33df6;
}

.team .title .text {
  font-family: "Segoe UI Light";
  font-size: 20px;
  color: white;
  width: 60%;
  margin: 1rem auto;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.team .title .name {
  margin-top: 20px;
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}

.member {
  margin-top: 13rem;
}

div.react-3d-carousel
  div.slider-container
  div.slider-content
  div.slider-single
  div.slider-single-content {
  box-shadow: none;
}

.preactive > .slider-single-content > div > div > p {
  display: none;
}

.proactive > .slider-single-content > div > div > p {
  display: none;
}
