.team {
  height: 80rem;
}
.team .title {
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  margin-top: 5rem;
}

.team .title .bar {
  width: 100px;
  height: 8px;
  border: none;
  background-color: #f33df6;
}

.team .title .text {
  font-family: "Segoe UI Light";
  font-size: 20px;
  color: white;
  width: 60%;
  margin: 1rem auto;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.team .title .name {
  /* margin-top: 20px; */
  font-family: "Segoe UI Light";
  font-size: 60px;
  color: white;
}

.member-container {
  margin-top: 13rem;
}

div.react-3d-carousel
  div.slider-container
  div.slider-content
  div.slider-single
  div.slider-single-content {
  box-shadow: none;
}

.preactive > .slider-single-content > div > div > p {
  display: none;
}

.proactive > .slider-single-content > div > div > p {
  display: none;
}

@media only screen and (min-width:360px) and (max-width: 1920px){
  .team {
    height: calc(100vw * (80*16) / 1920);
    margin-top: calc(100vw * (5*27) / 1920);

  }
  .team .title {
    width: 100%;
  }
  
  .team .title .bar {
    height: calc(100vw * 8 / 1920);
    width: calc(100vw * 100 / 1920);
    border: none;
    background-color: #f33df6;
  }
  .team .title .name {
    font-family: "Segoe UI Light";
    font-size: calc(100vw * 60 / 1920);
    color: white;
  }
  .member-container {
    margin-top: calc(100vw * (5*18) / 1920);

  }
}