.error {
  background-color: black;
  height: 100vh;
}

.error-content {
  border: 1px solid black;
  height: 100%;
  margin-bottom: -4rem;
  text-align: center;
}

.error-title {
  margin-top: 400px;
  font-family: "SegoeUI-Bold";
  font-size: 90px;
  color: white;
}

.error-text {
  color: white;
  font-family: "SegoeUI-Light";
  font-size: 30px;
}