.error {
  background-image: url(./media/imgs/background404-01.png);
  background-size: cover;
  height: 100vh;
}

.error-content {
  border: 1px solid black;
  height: 100%;
  margin-bottom: -4rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-text {
  color: white;
  font-family: "SegoeUI-Light";
  font-size: 30px;
  font-weight: 600;
}

.notfound-btn {
  border: 1px solid white;
  border-radius: 30px;
  width: 250px;
  height: 50px;
}

.notfound-link {
  color: rgb(86, 49, 120);
  font-size: 20px;
  font-weight: 600;
}

.notfound-link:hover {
  text-decoration: none;
  color: rgb(41, 3, 77);
}