@font-face {
  font-family: "Segoe UI Light";
  src: url("/src/media/Segoe\ UI/Segoe\ UI\ Light.ttf");
}
@font-face {
  font-family: "Segoe UI Regular";
  src: url("/src/media/Segoe\ UI/Segoe\ UI.ttf");
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url("/src/media/Segoe\ UI/Segoe\ UI\ Semibold.ttf");
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("/src/media/Segoe\ UI/Segoe\ UI\ Bold.ttf");
}

html {
  scroll-behavior: smooth;
}

.loader-container {
  width: 100%;
  height:100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader-container > .loader {
  height: 90px;
  width: 90px;
}

.root {
  scroll-behavior: smooth;
  margin: auto;
  background-color: black;
  height: auto;
  min-width: 100%;
  max-height: max-content; 
  overflow-x: hidden !important;
}

/* @media only screen and (min-width:360px) and (max-width: 1920px){ 
  .root {
    overflow-x: hidden !important;
  }
} */