@font-face {
  font-family: 'SegoeUI-Italic';
  src: url('./media/fonts/SegoeUI-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-Bold';
  src: url('./media/fonts/SegoeUI-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-BoldItalic';
  src: url('./media/fonts/SegoeUI-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-Semibold';
  src: url('./media/fonts/SegoeUI-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-SemilightItalic';
  src: url('./media/fonts/SegoeUI-SemilightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-LightItalic';
  src: url('./media/fonts/SegoeUI-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-Semilight';
  src: url('./media/fonts/SegoeUI-Semilight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-SemiboldItalic';
  src: url('./media/fonts/SegoeUI-SemiboldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('./media/fonts/SegoeUI.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('./media/fonts/SegoeUI-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  scroll-behavior: smooth;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: black;
}

.loader-container div {
  margin-top: -200px;
  max-height: 400px;
}

.loader-container img {
  height: 100%;
  margin: auto !important;
}

.loading-title {
  z-index: 100000;
  margin-top: 100px;
  font-family: "SegoeUI-Semibold";
  font-size: 25px;
  color: white;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s;
}

.loading-text {
  z-index: 100000;
  font-family: "SegoeUI-Light";
  margin-top: -20px;
  font-size: 20px;
  color: white;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.root {
  scroll-behavior: smooth;
  margin: auto;
  background-color: black;
  height: auto;
  min-width: 100%;
  max-height: max-content; 
  overflow-x: hidden !important;
}

@media only screen and (min-width:360px) and (max-width: 1920px){ 

}