@font-face {
  font-family: "Segoe UI Light";
  src: url("/src/media/Segoe\ UI/Segoe\ UI\ Light.ttf");
}
@font-face {
  font-family: "Segoe UI Regular";
  src: url("/src/media/Segoe\ UI/Segoe\ UI.ttf");
}
@font-face {
  font-family: "Segoe UI Semibold";
  src: url("/src/media/Segoe\ UI/Segoe\ UI\ Semibold.ttf");
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("/src/media/Segoe\ UI/Segoe\ UI\ Bold.ttf");
}

html {
  scroll-behavior: smooth;
}

.root {
  scroll-behavior: smooth;
  position: relative;
  margin: auto;
  background-color: #2c324d;
  min-height: 1000vh;
  height: auto;
  width: auto;
  max-height: max-content;
}
