.footer {
  position: relative;
  bottom: 0;
  justify-content: center;
  width: auto;
  min-width: auto;
  margin-bottom: 0px;
  height: 6rem;
  min-height: auto;
  background-color: #0C0E18;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4.8rem;
  align-self: center;
  align-items: center;
}

.media-link {
  display: flex;
  gap: 1rem;
}

.footer-img {
  width: 11rem; 
  height:3rem
}

.footer-text {
  display: none;
  color: white;
  
}

@media only screen and (min-width:380px) and (max-width: 780px){ 
  .footer {
    flex-direction: column;
  }
  .footer-img {
    display: none;
  }
  .footer-text {
    display:contents;
  }
  .media-link {
    margin-top: 5px;
  }
}